<div class="col s12">
  <div class="col s12 chatContainer">
    <ul style="margin:0">
      <li  *ngFor="let msg of conversation">
        <div *ngIf="!isNewUserAlert(msg)">
          <div *ngIf="!isMineMessage(msg)">
            <span  class="userLabel" >{{msg.userName}}:</span>
            <span>{{msg.text}}</span>
          </div>
          <div *ngIf="isMineMessage(msg)">
            <span style="font-weight:bold">{{msg.text}}</span>
          </div>
        </div>
        <div *ngIf="isNewUserAlert(msg)">
          <span style="color: crimson">{{msg.text}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col s9">
      <input id="country" type="text"
             [(ngModel)]="message"
             (keypress)="keypressHandler($event)">
    </div>
    <button (click)="send()"  type="submit"
            class="btn waves-effect waves-light s2"  name="action" >Send</button>
  </div>
</div>
<div style="margin-top: 20%;">
  <button (click)="navToRooms()"  type="submit"
          class="btn waves-effect waves-light s2"  name="action" >Room list</button>
</div>
